PORT=3001
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_contraseña_mysql
DB_NAME=alumco
# DEBE tener al menos 32 caracteres aleatorios. Generá con: openssl rand -hex 32
JWT_SECRET=
JWT_EXPIRES_IN=7d
ANTHROPIC_API_KEY=tu_api_key_de_anthropic
NODE_ENV=development
CLIENT_URL=http://localhost:5173
MAIL_USER=
MAIL_PASS=
MAIL_FROM_NAME=ALUMCO
